    @import url('https://fonts.googleapis.com/css?family=Cookie');
.btn {
    border: none;
    background-color: inherit;
    padding: 0px 0px;
    font-size: 16px;
    cursor: pointer;
    width: 105px;
    height: 0px;
}

.btn:hover {
    background: grey;
    opacity: 0.6;
}

.navbar {
    overflow: hidden;
    background-color: grey;
    opacity: .8;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 9px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 9px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #37474F
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 13px 16px;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: grey
}

.dropdown:hover .dropdown-content {
    display: block;
}

.tree {
    background-color: #4FC3F7;
    background: url(terry-tan-de-hao-300011-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.clscon {
    background-color: #4FC3F7;
    background: url(maarten-van-den-heuvel-73123-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.video {
    background-color: #4FC3F7;
    background: url(IMG_3956.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.watercolor {
    background-color: #4FC3F7;
    background: url(alice-achterhof-85968-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.artclass {
    background-color: #4FC3F7;
    background: url(jess-watters-515757-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.arth2 {
    font-size: 20px;
    font-family: 'Cookie', cursive;
    color: black;
    text-align: left;
}

.watercolor {
    font-size: 20px;
    font-family: 'Cookie', cursive;
    color: black;
    text-align: left;
}

h2 {
    font-size: 20px;
    font-family: 'Cookie', cursive;
    color: white;
    text-align: left;
    margin-left: 20px !important;
    padding-top: 0px;
}
h5 {font-size: 20px;
    font-family: 'Cookie', cursive;
    color: black;
    text-align: left;
    margin-left: 20px !important;
    padding-top: 0px;
}
#menu {
    display: flex;
}

h1 {
    font-size: 60px;
    font-family: 'Cookie', cursive;
    color: black;
    text-align: center;
}

h3 {
    font-size: 30px;
    font-family: 'Special Elite', cursive;
    color: black;
    text-align: center;
}

#ourmanna-verse {
    padding: 10px;
    margin-right: 70%;
    background: rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 20px;

}

#mannaverse {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

#mannaverse-reference:before {
    content: "- ";
}

#mannaverse-reference {
    text-align: left;
    font-size: 18px;
}

#mannaverse-version {
    color: #black;
}

h3 {
    font-size: 30px;
    font-family: 'Special Elite', cursive;
    color: black;
    text-align: center;
}

.container {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 60%;
    height: auto;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f1f1f1f1;
}

#customers tr:nth-child(odd) {
    background-color: #f1f1f1f1;
}

#customers tr:hover {
    background-color: grey;
    opacity: .9
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#customers2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers2 td,
#customers2 th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers2 tr:nth-child(even) {
    background-color: #f1f1f1f1;
}

#customers2 tr:nth-child(odd) {
    background-color: #f1f1f1f1;
}

#customers2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: grey;
    color: white;
}


div.susie-gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 202px;
}

div.susie-gallery:hover {
    border: 1px solid #777;
}

div.susie-gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.student-gal {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 202px;
}

div.student-gal:hover {
    border: 1px solid #777;
}

div.student-gal img {
    width: 100%;
    height: auto;
}

div.Pencil-drawings {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 202px;
}

div.Pencil-drawings:hover {
    border: 1px solid #777;
}

div.Pencil-drawings img {
    width: 100%;
    height: auto;
}

div.Ink-Art {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 202px;
}

div.Ink-Art:hover {
    border: 1px solid #777;
}

div.Ink-Art img {
    width: 100%;
    height: auto;
}

div.Water-colors {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 202px;
}

div.Water-colors:hover {
    border: 1px solid #777;
}

div.Water-colors img {
    width: 100%;
    height: auto;
}

div.Oil-pastels {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 202px;
}

div.Oil-pastels:hover {
    border: 1px solid #777;
}

div.Oil-pastels img {
    width: 100%;
    height: auto;
}

div.Fluid-p-art {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 202px;
}

div.Fluid-p-art:hover {
    border: 1px solid #777;
}

div.Fluid-p-art img {
    width: 100%;
    height: auto;
}

.mySlides {
  display:none;
}
.w3-left,
.w3-right,
.w3-badge {
      cursor: pointer
}
.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}
h4 {
    font-size: 30px;
    font-family: 'Special Elite', cursive;
    color: black;
    text-align: center;
}
.videos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.videos * {
    margin: 0 auto;
}
.video-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 5px;
}

.description {
    width: calc(100% - 10px);
    background: White;
    text-align: center;
    padding: 5px;
    margin-top: 10px
}
.content{
    white-space: nowrap; 
    width: 200px; 
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: clip;
}

h6{
  text-align: center;
  font-size: 20px;
  padding: 5px;



}
p.b {
            max-width: 500px; 
            border: 1px solid #000000;
            margin-left: auto;
            margin-right: auto;
            text-align:center;
            padding:10px;
        }




        p.b {
            word-wrap: break-word;
        }
                    ul  {
                list-style: dot inside url;
            }


//*
p.c {
            max-width: 300px; 
            border: 5px solid white;
            background-color: white;
            margin-left: 0;
            margin-right: 0;
            text-align:center;
            padding:5px;
        }




        p.c {
            word-wrap: break-word;
*/ 